
.music_logo {
    float: left;
    display: block;
    width: 90px;
    height: 25px;
    margin: 9px 0 0 10px;
    background-image: url(../img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.btn_download {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 8px;
    height: 28px;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 99px;
    font-size: 14px;
    background: #149c5a;
    color: #fff;
}

	.btn {
    font-size: 15px;
    font-weight: 400;
    display: table;
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
    border-radius: 3px;
    background-color: white;
    -webkit-touch-callout: none;
}
.btn .btn-item {
    line-height: 38px;
    display: table-cell;
    overflow: hidden;
    width: 1%;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#000000;
}
.btn .btn-active{
	border-bottom: 2px solid #31c27c;
    color:#31c27c;
}







.mui-input-row .mui-input-clear{
	color:#999;
	font-size:14px;
}
.mui-table-view .mui-table-view-cell{
	height:55px;
	box-sizing: border-box;
}
.mui-table-view .mui-table-view-cell img{
	float:left;
	height:20px;
	width:22px;
	line-height: 20px;
	margin:5px;
}
.mui-table-view-cell a{
	margin:0;
}
.mui-table-view .mui-table-view-cell p{
	
	font-size: 12px;
}
.mui-table-view .mui-media-body {
   margin-top:-4px;
   border: none;
   margin-left:40px;
}
